.container__conecta{
    padding: 20px;

    .h1__conecta{
        color: $colorH;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 50px;
    }
}