// medias institucional
@media screen and (max-width: 768px) {
    .contenedor{
       display: flex;
       flex-direction: column;
    }
}
// medias galeria
@media screen and (max-width: 620px) {
    .contenedorGaleria{
        display: flex;
        flex-direction: column;
    }
    .carta{
        width: 100%;
    }
    .carta__titulo{
        font-size: 16px;
    }
}
// medias servicios
@media screen and (max-width: 768px) {
    .card-group{
        display: flex;
        flex-direction: column;
    }
}
// medias footer 
@media screen and (max-width: 768px) {
    .footer.h4{
        font-size: 16px;
    }
}