.button:hover{
    transform: scale(1.1) translateY(-20px);
}
.h:hover{
    transform: scale(1.1) translateY(-10px);
}
.p:hover{
    transform: scale(1.05);
}
.staff:hover{
    transform: scale(1.05);
}